<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>ConvertsMoney</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/money.png">
  </head>
  <body>
    <!-- Image and text -->
    <nav class="navbar navbar-dark bg-info">
      <a class="navbar-brand" href="/">
        <img src="/images/money.png" width="30" height="30" class="d-inline-block align-top" alt="logo do convertsMoney">
        ConvertsMoney
      </a>
    </nav>
    <div class="container">