<% include partials/header.ejs %>

<h1 class="my-5">Conversor de dinheiro</h1>
<form method="GET" action="/convertido">
  <div class="form-group">
      <label for="inDollarQuotation">Digite o valor de cotação do dolar:</label>
      <input name="cotacao" value="<%- cotacao %>" type="text" class="form-control" id="inDollarQuotation" aria-describedby="emailHelp" placeholder="0.00"  autofocus>
      <% if (err && err.indexOf('cotacao') >= 0) { %>
        <small class="form-text text-muted">O campo cotação deve ser preenchido por um número de 1 a 10.</small>
      <% } %>
    </div>
    <div class="form-group">
      <label for="dollarAmount">Digite a quantidade de dólares que você deseja converter:</label>
      <input name="quantidade" <% if (quantidade) { %> value="<%- quantidade %>" <% } %> type="text" class="form-control" id="dollarAmount" placeholder="0000.00" >
      <% if (err && err.indexOf('quantidade') >= 0) { %>
        <small class="form-text text-muted">O campo quantidade deve ser preenchido por um número.</small>
      <% } %>
    </div>
  <button type="submit" class="btn btn-info">Submit</button>
</form>

<% include partials/footer.ejs %>